.element {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 350px;
}

.photo {
  max-height: 185px;
  border-radius: 20px;
  border: 2px solid #ffdccc;
  box-shadow: 9px 4px 0 #ffdccc;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 4px;
  color: #ffffff;
  font-size: 16px;
}

.tech {
  margin-bottom: 8px;
  font-size: 10px;
  font-weight: 600;
  color: #f4f4f4;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 12px 12px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #fdb7ea;
  border: 2px solid #ffdccc;
  box-shadow: 9px 4px 0 #ffdccc;
  transition: color 0.4s ease, transform 0.4s ease;
}

.link:hover,
.link:focus {
  color: #ff69b4;
  transform: scale(1.04);
}

.links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (min-width: 1024px) {
  .element {
    padding: 40px;
    max-width: 450px;
  }
  .title {
    font-size: 18px;
  }
  .tech {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .photo {
    width: 300px;
    min-height: 170px;
  }
}
