.header {
  background-color: #fdb7ea;
  padding: 12px 20px;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 375px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: border-radius 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobileMenu.open {
  border-radius: 0 0px 0px 36px;
}

.logo {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  color: #576bdf;
  border-radius: 50%;
  border: 2px solid #ffdccc;
  background-color: #fbf3b9;
  box-shadow: 4px 4px 0 #ffdccc;
}

.logo:hover {
  background-color: #ff69b4;
  color: #fff;
  transform: rotate(360deg);
}

.burger {
  cursor: pointer;
  border: none;
}

.icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  fill: #576bdf;
  transition: fill 0.4s ease, transform 0.4s ease;
}

.burger:hover .icon {
  fill: #ff69b4;
  transform: scale(1.1);
}

.navigation {
  display: none;
}

.mobileMenu {
  display: flex;
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: #fdb7ea;
  border-radius: 0px 10px 10px 10px;
  z-index: 999;
  flex-direction: column;
  box-shadow: 3px 7px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.element a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  transition: color 0.4s ease, transform 0.4s ease;
}

.element a:hover {
  color: #ff69b4;
  transform: scale(1.1);
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 20px 60px;

    max-width: 1200px;
  }

  .list {
    flex-direction: row;
    gap: 32px;
  }

  .element a {
    font-size: 28px;
  }

  .navigation {
    display: flex;
  }

  .burger {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}
