/* Mobile First Styling */

.header {
  background-color: #fdb7ea;
  padding: 12px 20px;
  border-radius: 0 0 36px 36px;

  position: sticky;
  left: -50%;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: #576bdf;
  border-radius: 50%;
  border: 2px solid #ffdccc;
  background-color: #fbf3b9;
  box-shadow: 4px 4px 0 #ffdccc;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.logo:hover {
  background-color: #ff69b4;
  color: #fff;
  transform: rotate(360deg);
}

/* Mobile Menu - Default (Hidden) */
.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.burgerLine {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  transition: 0.3s;
}
.burgerLine.hover,
.burgerLine:focus {
  background-color: #ff69b4;
  transform: scale(1.1);
}
.mobileMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  background-color: #fdb7ea;
  border-radius: 0px 0px 10px 10px;
  z-index: 999;
}

.mobileMenu.open {
  display: block;
}
.header.open {
  border-radius: 0 0 0px 36px;
}

.mobileMenu ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  list-style: none;
  margin: 0;
}

.element a {
  color: #576bdf;
  font-size: 22px;
  text-decoration: none;
}

.navigation {
  display: none; /* Hide desktop menu on mobile */
}

.element a {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  transition: color 0.4s ease, transform 0.4s ease;
}

.element a:hover,
.element a:focus {
  color: #ff69b4;
  transform: scale(1.1);
}

/* Media Queries for Desktop and larger screens */
@media screen and (min-width: 1200px) {
  .header {
    padding: 20px 60px;
    max-height: 113px;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 36px 36px;
  }
  .header.open {
    border-radius: 0 0 36px 36px;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  .element a {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    transition: color 0.4s ease, transform 0.4s ease;
  }

  .element a:hover,
  .element a:focus {
    color: #ff69b4;
    transform: scale(1.1);
  }

  .navigation {
    display: flex; /* Show desktop menu on larger screens */
    margin-left: auto;
  }

  .burger {
    display: none; /* Hide burger menu on desktop */
  }

  /* Hide the mobile menu on desktop */
  .mobileMenu {
    display: none !important; /* Ensure the mobile menu is never visible on desktop */
  }
}
