.swiperCont {
  height: 380px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 90px;
}

.noProjects {
  color: #ffffff;
  font-weight: 600;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

.odd {
  background-color: #576bdf;
  max-height: 350px;
  border-radius: 20px;
}

.even {
  background-color: #b395dd;
  max-height: 350px;
  border-radius: 20px;
}

@media (min-width: 1024px) {
  .swiperCont {
    height: 400px;
  }
  .noProjects {
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
  }
}
