#root {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
  background-color: #b7b1f2;
  box-shadow: 5px 0 10px rgba(150, 144, 207, 0.6),
    -5px 0 10px rgba(150, 144, 207, 0.6);
}

@media (min-width: 1200px) {
  #root {
    padding: 0 60px;
    max-width: 1200px;
  }
}
