.hero {
  display: grid;
  gap: 40px;
  grid-template-rows: auto auto 1fr;
  justify-items: center;
  padding: 0 20px;
  padding-top: 32px;
}

.textAndButtons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.section {
  background: linear-gradient(to bottom, #b7b1f2, #f5d7c6, #f1a7c0, #b7b1f2);

  padding: 0;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
  text-align: left;
}

.secondLine {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards,
    cursorBlink 0.75s step-end infinite;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursorBlink {
  50% {
    border-color: transparent;
  }
}

.position {
  font-weight: 600;
  font-size: 20px;
  line-height: 112%;
  color: #686a75;
}

.image {
  border: 2px solid #ffdccc;
  border-radius: 10px;
  box-shadow: 9px 4px 0 #ffdccc;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  order: 3;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  background-color: #576bdf;
  border: 2px solid #ffdccc;
  box-shadow: 9px 4px 0 #ffdccc;
  transition: color 0.4s ease, transform 0.4s ease;
}

.button:hover,
.button:focus {
  color: #ff69b4;
  transform: scale(1.04);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 4px;
}

@media screen and (min-width: 1200px) {
  .hero {
    grid-template-rows: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    column-gap: 104px;
    row-gap: 44px;
  }
  .section {
    padding: 0;
  }

  .text {
    gap: 20px;
  }

  .title {
    font-size: 56px;
    line-height: 60px;
    text-align: left;
  }

  .position {
    font-size: 28px;
  }

  .image {
    width: 350px;
    height: 400px;
  }

  .buttons {
    flex-direction: row;
    gap: 64px;
    order: 2;
  }

  .button {
    font-size: 32px;
  }
}
