.hero {
  padding-bottom: 100px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 104px;
}

.textAndButtons {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: start;
}

.title {
  font-weight: 800;
  font-size: 56px;
  line-height: 60px;
  color: #ffffff;
  text-align: left;
}

.secondLine {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards,
    cursorBlink 0.75s step-end infinite;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursorBlink {
  50% {
    border-color: transparent;
  }
}
.position {
  font-weight: 600;
  font-size: 28px;
  line-height: 112%;
  color: #474a57;
}

.image {
  border: 2px solid #ffdccc;
  border-radius: 10px;
  box-shadow: 9px 4px 0 #ffdccc;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  padding: 12px 32px;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  background-color: #576bdf;
  border: 2px solid #ffdccc;
  box-shadow: 9px 4px 0 #ffdccc;
  transition: color 0.4s ease, transform 0.4s ease;
}

.button:hover,
.button:focus {
  color: #ff69b4;
  transform: scale(1.04);
}
